includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
       - src/

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#PHPDoc tag \@var with type Naugrim\\BMEcat\\Nodes\\Contracts\\NodeInterface is not subtype of native type \$this.+#'

    parallel:
      processTimeout: 120.0
      jobSize: 20
      maximumNumberOfProcesses: 1
      minimumNumberOfJobsPerProcess: 1
